.container{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 5vh;
    z-index: 5;
}

.container p{
    font-size: 1.5vw;
    font-weight: 600;
    color: rgb(41, 41, 41);
    margin: 2vw 2vw 1vw 2vw;
}

.container p:hover{
    letter-spacing: .4vw;
}

@media (orientation:portrait) {
    .container p{
        font-size: 4vw ;
        margin: 2vw 4vw 1vw 4vw;
    }
}
