.container{
    padding: 10vh 0 0vh 0;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 3vw;
    word-spacing: .7vw;
    transition: all .4s ease-out;
}

.container h1:hover{
    letter-spacing: .5vw;
    word-spacing: 1vw;
}

.container p{
    margin-top: 8vh;
    text-align: center;
    width: 70vw;
    font-size: 1.2vw;
    color: #5c5c5c;
    text-justify:inherit;
    font-weight: 100;
    transition: all .2s ease-out;
}

.container p:hover{
    letter-spacing: .1vw;
    word-spacing: .2vw;
}

@media (orientation:landscape) {
    
}

@media (orientation:portrait) {
    .container h1{
        font-size: 10vw;
        word-spacing: 2vw;
    }

    .container p{
        margin-top: 5vh;
        width: 90vw;
        font-size: 3vw;
    }
    .container{
        padding: 5vh 0 2vh 0;
    }
}