.container{
    padding: 10vh 0 0vh 0;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    font-size: 3vw;
    word-spacing: .7vw;
    transition: all .4s ease-out;
}

.container h1:hover{
    letter-spacing: .5vw;
    word-spacing: 1vw;
}

.container p{
    margin-top: 8vh;
    text-align: center;
    width: 70vw;
    font-size: 1.2vw;
    color: #5c5c5c;
    text-justify:inherit;
    font-weight: 100;
    transition: all .2s ease-out;
}

.container p:hover{
    letter-spacing: .1vw;
    word-spacing: .6vw;
}

.cardContainer{
    display: flex;
    justify-content: center;
}

.card{
    width: 25vw;
    height: 67vh;
    margin: 200px 40px 20px 40px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(236, 236, 236);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.10);
    transition: all .4s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card:hover{
    transform: scale(1.07);
    background-color: rgb(235, 235, 235);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cardImg{
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    transform: translate(50%,-50%);
    transition: all .4s ease-out;
}

.card:hover .cardImg{
    top: -10px;
    width: 60%;
}

.card h3{
    margin-top: 120px;
    font-size: 2.5vw;
    transition: all .4s ease-out;
    color: rgb(80, 80, 80);
}

.card:hover h3{
    letter-spacing: .4vw;
    color: #1c1c1c;
}

.card p{
    width: 100%;
    text-align: justify;
    font-size: 1vw;
    padding: 0 20px;
    color: rgb(187, 187, 187);
}

.card p:hover{
    font-size: 1vw;
    letter-spacing: 0vw;
    word-spacing: 0vw;
    color: rgb(110, 110, 110);
}

@media (orientation:portrait) {
    .container h1{
        font-size: 10vw;
        word-spacing: 2vw;
    }

    .container p{
        margin-top: 5vh;
        width: 90vw;
        font-size: 3vw;
    }
    .container{
        padding: 5vh 0 2vh 0;
    }
    .cardContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .card{
        width: 70vw;
        margin-top: 130px;
    }

    .cardImg{
        width: 55%;
    }

    .card h3{
        margin-top: 100px;
        font-size: 8.5vw;
    }

    .card p{
        width: 70vw;
    }
}